@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SFProDisplay-Heavy.eot?');
    src: url('../fonts/SFProDisplay-Heavy.eot?') format("embedded-opentype"),
        url('../fonts/SFProDisplay-Heavy.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SFProDisplay-Bold.eot?');
    src: url('../fonts/SFProDisplay-Bold.eot?') format("embedded-opentype"),
        url('../fonts/SFProDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SFProDisplay-Semibold.eot?');
    src: url('../fonts/SFProDisplay-Semibold.eot?') format("embedded-opentype"),
        url('../fonts/SFProDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SFProDisplay-Medium.eot?');
    src: url('../fonts/SFProDisplay-Medium.eot?') format("embedded-opentype"),
        url('../fonts/SFProDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro";
    src: url('../fonts/SFProDisplay-Regular.eot?');
    src: url('../fonts/SFProDisplay-Regular.eot?') format("embedded-opentype"),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'marvie-font';
    src: url('../fonts/marvie-font.eot?sikm10');
    src: url('../fonts/marvie-font.eot?sikm10#iefix') format('embedded-opentype'),
        url('../fonts/marvie-font.ttf?sikm10') format('truetype'),
        url('../fonts/marvie-font.woff?sikm10') format('woff'),
        url('../fonts/marvie-font.svg?sikm10#marvie-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="i-"],
[class*=" i-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'marvie-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-gift:before {
    content: "\e903";
}

.i-upload:before {
    content: "\e90b";
}

.i-heart:before {
    content: "\e904";
}

.i-cutlery:before {
    content: "\e901";
}

.i-increase:before {
    content: "\e905";
}

.i-play:before {
    content: "\e906";
}

.i-card:before {
    content: "\e900";
}

.i-settings:before {
    content: "\e908";
}

.i-star-fill:before {
    content: "\e909";
}

.i-star-hollow:before {
    content: "\e90a";
}

.i-fire:before {
    content: "\e902";
}

.i-point:before {
    content: "\e907";
}