/*Null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*Null End*/
body {
  background-color: #1f2e35;
}

.block-wrap {
  background: #30444e;
  -webkit-box-shadow: 0px 1px 14px #19282f;
          box-shadow: 0px 1px 14px #19282f;
}

.title,
.subtitle,
.caption,
.text {
  color: #fff;
}

.wrapper {
  max-width: 375px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}

.title,
.subtitle,
.caption,
.text {
  font-family: "SF Pro";
}

.title {
  font-size: 42px;
  line-height: 116%;
  font-weight: 700;
}

.title-crumbs {
  font-size: 24px;
  line-height: 116%;
  font-weight: 400;
}

.subtitle {
  font-size: 18px;
  line-height: 116%;
  font-weight: 700;
}

.caption {
  font-size: 16px;
  line-height: 118%;
  font-weight: 700;
}

.text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.block-wrap {
  border-radius: 25px;
  padding: 33px 24px;
}

.icon {
  font-family: "marvie-font";
}

.feed {
  padding-top: 54px;
}

.feed__title {
  margin-bottom: 20px;
}

.feed__feed-item {
  margin-bottom: 16px;
}

.feed__feed-item:last-child {
  margin-bottom: 0;
}

.double-stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.double-stroke::before {
  content: "ok";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.favorites-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3ed598;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.favorites-widget__info {
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
}

.favorites-widget__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.favorites-widget__icon {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 19px;
}

.favorites-widget__icon::before {
  content: "\e90a";
  font-size: 20px;
  color: #fff;
}

.favorites-widget__cta {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorites-widget__button {
  width: 60px;
  height: 60px;
}

.favorites-widget__button::before {
  width: 48px;
  height: 48px;
  font-family: "SF Pro";
  font-weight: 500;
  font-size: 14px;
  color: #3ed598;
}

.present-widget {
  padding-bottom: 45px;
  background-color: #ffc542;
}

.present-widget__icon {
  margin-bottom: 16px;
}

.present-widget__icon::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "\e903";
  font-size: 18px;
  color: #fff;
}

.present-widget__title {
  margin-bottom: 10px;
  text-align: center;
}

.present-widget__text {
  text-align: center;
}

.upload-widget {
  background-color: #ff565e;
}

.upload-widget__title {
  margin-bottom: 8px;
}

.upload-widget__text {
  margin-bottom: 30px;
}

.upload-widget__upload {
  height: 156px;
  border: 1px dashed #ffffff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload-widget__icon {
  width: 80px;
  height: 80px;
}

.upload-widget__icon::before {
  width: 68px;
  height: 68px;
  content: "\e90b";
  font-size: 20px;
  color: #ff565e;
}
